<%= CustomCalendar.new(self,events: @events).render do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <% if able_to_edit_event?(event) %>
        <%= link_to event.name + ' (Мое)', edit_event_path(event, event_date: event.start_date, virtual: event.virtual?) %>
      <% else %>
        <%= event.name + " (#{event.user.full_name})" %>
      <% end %>
    </div>
  <% end %>

<% end %>

<br>

<%= link_to 'New Event', new_event_path %>
